In [132]:
import pandas as pd

In [133]:
a_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

ser = pd.Series(a_list)

In [ ]:
# Determine the number of elements in fruits.

In [11]:
len(my_ser)
my_ser.size
my_ser.count

17

In [ ]:
# Output only the index from fruits

In [34]:
list(my_ser.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
# Output only the values from fruits.

In [15]:
my_ser.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [ ]:
# Confirm the data type of the values in fruits.

In [17]:
my_ser.dtype

dtype('O')

In [ ]:
# Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
my_ser.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [35]:
my_ser.tail()

12         mango
13     blueberry
14    blackberry
15    gooseberry
16        papaya
dtype: object

In [37]:
my_ser.sample(2)

10      kiwi
16    papaya
dtype: object

In [ ]:
# Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [39]:
my_ser.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
# Run the code necessary to produce only the unique string values from fruits.

In [25]:
my_ser.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [ ]:
# Determine how many times each unique string value occurs in fruits.

In [41]:
list(my_ser.value_counts().index)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [ ]:
# Determine the string value that occurs most frequently in fruits.

In [46]:
my_ser.value_counts().idxmax()
my_ser.mode()
my_ser.value_counts().nlargest(1)
my_ser.value_counts().head(1)
my_ser.describe().loc['top']

'kiwi'

In [ ]:
# Determine the string value that occurs least frequently in fruits.

In [49]:
my_ser.value_counts().nsmallest(n = 1, keep = 'all')
my_ser.value_counts()[my_ser.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises II

In [ ]:
# Capitalize all the string values in fruits.

In [99]:
ser.str.capitalize()
ser.str.title()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala Apple
5     Honeycrisp Apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [ ]:
# Count the letter "a" in all the string values (use string vectorization).

In [109]:
ser_a = ser.str.count('a')
ser_a.index = list(ser)
ser_a

kiwi                0
mango               1
strawberry          1
pineapple           1
gala apple          3
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            0
kiwi                0
kiwi                0
kiwi                0
mango               1
blueberry           0
blackberry          1
gooseberry          0
papaya              3
dtype: int64

In [ ]:
# Output the number of vowels in each and every string value.

In [117]:
def num_v(fruits):
    vowels = list('aeiou')

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [ ]:
# Write the code to get the longest string value from fruits.

In [128]:
ser = ser.str.len().max()
ser

16

In [ ]:
# Write the code to get the string values with 5 or more letters in the name.

In [135]:
ser[ser.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [64]:
# Find the fruit(s) containing the letter "o" two or more times.

In [134]:
ser[ser.str.count('o') > 1]

6         tomato
15    gooseberry
dtype: object

In [ ]:
# Write the code to get only the string values containing the substring "berry".

In [136]:
ser[ser.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [ ]:
# Write the code to get only the string values containing the substring "apple".

In [138]:
ser[ser.str.count('[aeiou]').max()]

'honeycrisp apple'

In [ ]:
# Which string value contains the most vowels?

In [ ]:
ser[ser.str.]

# section 3

In [146]:
letters = pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'))

In [ ]:
# Which letter occurs the most frequently in the letters Series?

In [147]:
letters.value_counts().head(1)
letters.mode()

0    y
dtype: object

In [148]:
# Which letter occurs the Least frequently?

In [151]:
letters.value_counts().tail(1)

l    4
dtype: int64

In [ ]:
# How many vowels are in the Series?

In [164]:

letters.isin(list('aeiou')).sum()

34

In [ ]:
# How many consonants are in the Series?

In [165]:
len(letters) - letters.isin(list('aeiou')).sum

TypeError: unsupported operand type(s) for -: 'int' and 'method'

In [ ]:
# Create a Series that has all of the same letters but uppercased.

In [167]:
letters.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

In [ ]:
# Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [173]:
letters.value_counts.head().plot.bar(title='Letters',
                                  rot=0,
                                  color='darkcyan',
                                  ec='black',
                                  width=.7
                                  ).set(xlable= 'Letters',
                                      ylable='Frequency'
                                       yticks=(range(1

SyntaxError: unmatched ')' (1671413828.py, line 7)

In [174]:
numbers = ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
num = pd.Series(numbers)

In [ ]:
# What is the data type of the numbers Series?

In [175]:
type(num)

pandas.core.series.Series

In [ ]:
# How many elements are in the number Series?

In [176]:
num.size

20

In [ ]:
# Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

In [185]:
num = num.str.replace('$', '').str.replace(',', '').astype('float')

/var/folders/xf/3yzy_crd6fg3jwj3r580c2dm0000gn/T/ipykernel_18621/1540105847.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  num = num.str.replace('$', '').str.replace(',', '').astype('float')

In [ ]:
# Run the code to discover the maximum value from the Series.

In [186]:
num.max()

4789988.17

In [ ]:
# Run the code to discover the minimum value from the Series.

In [187]:
num.min()

278.6

In [ ]:
# What is the range of the values in the Series?

In [188]:
num.max() - num.min()

4789709.57

In [ ]:
# Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

In [194]:
num_bin = pd.cut(num, 4, lable=['bin1', 'bin2', 'bin3', 'bin4'])
num_bin.value_counts()

TypeError: cut() got an unexpected keyword argument 'lable'

In [ ]:
# Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

In [192]:
(
    
    num_bin.value_counts().loc[['bin1', 'bin2', 'bin3', 'bin4']].plotbar(
                                                                            title='bin count',
                                                                            rot = 0,
                                                                            color= 'Blue',
                                                                            ec='Black',
                                                                            width=.7).set(xlabel='Bin', ylabel='Total',
                                                                                         yticks=range(1,10,1))
)

KeyError: "None of [['bin1', 'bin2', 'bin3', 'bin4']] are in the [index]"

In [204]:
exam = pd.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])

In [205]:
#How many elements are in the exam_scores Series

In [206]:
exam.size

20

In [207]:
# Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

In [208]:
exam.min()
exam.max()
exam.median()
exam.mean()

60

In [ ]:
# Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

In [ ]:
(
    exam.plot.hist(
        title='Distr')


)

In [ ]:
# Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

In [210]:
curved = exam + (100 - exam.max())
curved.max()

100

In [ ]:
# Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

In [215]:
bin_edges = [0, 60, 70, 80, 90, 100]
bin_lables = ['F', 'D', 'C', 'B', 'A']
letter_grade = pd.cut(curved, bins = bin_edges, lables = bin_lables)

TypeError: cut() got an unexpected keyword argument 'lables'

In [ ]:
# Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

In [214]:
letter_grade.value_counts().sort_index(ascending=False)
plot.bar(title = "Curved Grade")
set(xlable= "Letter Grade", ylable = 'Frequency')

NameError: name 'letter_grade' is not defined