In [2]:
import pandas as pd

In [9]:
a_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

my_ser = pd.Series(a_list)

In [ ]:
# Determine the number of elements in fruits.

In [10]:
my_ser

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [11]:
len(my_ser)
my_ser.size
my_ser.count

17

In [ ]:
# Output only the index from fruits

In [34]:
list(my_ser.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
# Output only the values from fruits.

In [15]:
my_ser.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [ ]:
# Confirm the data type of the values in fruits.

In [17]:
my_ser.dtype

dtype('O')

In [ ]:
# Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
my_ser.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [35]:
my_ser.tail()

12         mango
13     blueberry
14    blackberry
15    gooseberry
16        papaya
dtype: object

In [37]:
my_ser.sample(2)

10      kiwi
16    papaya
dtype: object

In [ ]:
# Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [39]:
my_ser.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
# Run the code necessary to produce only the unique string values from fruits.

In [25]:
my_ser.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [ ]:
# Determine how many times each unique string value occurs in fruits.

In [41]:
list(my_ser.value_counts().index)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [ ]:
# Determine the string value that occurs most frequently in fruits.

In [46]:
my_ser.value_counts().idxmax()
my_ser.mode()
my_ser.value_counts().nlargest(1)
my_ser.value_counts().head(1)
my_ser.describe().loc['top']

'kiwi'

In [ ]:
# Determine the string value that occurs least frequently in fruits.

In [49]:
my_ser.value_counts().nsmallest(n = 1, keep = 'all')
my_ser.value_counts()[my_ser.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64